<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
	<Appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout
				pattern="%d{HH:mm:ss.SSS} [%t] %-5level %-20.20logger.%-20.20M - %msg%n" />
		</Console>
	</Appenders>
	<Loggers>
		<Root level="debug">
			<AppenderRef ref="Console" />
		</Root>
		<Logger
			name="com.intropro.dtvla.dburyak.logparser.heapanalyser.parser.DumpFileParser"
			level="warn" additivity="true">
		</Logger>
		<Logger name="com.intropro.dtvla.dburyak.logparser.heapanalyser.app.App"
			level="info" additivity="true">
		</Logger>
		<Logger
			name="com.intropro.dtvla.dburyak.logparser.heapanalyser.analysis.impl.ObjUsedMemOverallGrowthAnalyzer"
			level="debug" additivity="false">
			<AppenderRef ref="Console" />
		</Logger>
	</Loggers>
</Configuration>