<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
	<Appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout pattern="%d{HH:mm:ss.SSS} %-5level [%t] %-20.20logger.%-20.20M - %msg%n" />
		</Console>
		<RandomAccessFile name="ReportFile" fileName="system.log">
			<PatternLayout pattern="%d{HH:mm:ss.SSS} %-5level [%t] %-20.20logger.%-20.20M - %msg%n" />
		</RandomAccessFile>
	</Appenders>
	<Loggers>
		<Root level="debug">
			<AppenderRef ref="Console" />
<!-- 			<AppenderRef ref="ReportFile" /> -->
		</Root>
		<Logger name="dburyak.logmist.model.manipulators.DefaultLogParser" level="info" additivity="false">
			<AppenderRef ref="Console" />
		</Logger>
		<Logger name="dburyak.logmist.model.manipulators.LogParser1" level="info" additivity="false">
			<AppenderRef ref="Console" />
		</Logger>
	</Loggers>
</Configuration>